<%  @page_title = "LaternaMagica | Galleries"%>
<h1>galleries index page</h1>

<% for gallery in @galleries %>
  <div class="gallery">
    <h2><%= link_to gallery.name, gallery %></h2>
  </div>
<% end %>

<p><%= link_to "New Gallery", new_gallery_path %></p>
